#index {
    .one_box {
        display: flex;
        width: 100%;
        height: 100%;

        .box_left {
            flex: 1;
            flex-direction: column;
            background: red;


            .box_left_one {
                width: 100%;
                height: 25%;
                background: yellow;
            }

            .box_left_two {
                width: 100%;
                height: 35%;
                background: red;
            }

            .box_left_three {
                width: 100%;
                height: 35%;
                background: yellow;
            }
        }

        .box_center {
            width: 50%;
            background: green;
        }

        .box_right {
            flex: 1;
            background: yellow;
        }
    }
}